@import "tailwindcss";

/*  GLOBAL THEME */
body {
  @apply bg-gradient-to-br from-[#020617] via-[#0f172a] to-[#1e293b] text-white;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #6b21a8;
  border-radius: 10px;
}